<%# add navigation links to this file %>
<li><%= link_to 'Biba objects', :biba_objects %></li>
<li><%= link_to 'Bella objects', :bella_objects %></li>
<li><%= link_to 'Grid model', :grid_model_index %></li>
<li><%= link_to 'About', page_path('about') %></li>
